.UserInfo img {
  border-radius: 2%;
  width: 80px;
  height: 80px;
  display: flex;
  gap: 20px;
  top: -30px;
  position: relative;
}
.color {
  width: 150px;
  height: 160px;
  background-color: rgba(255, 0, 85, 0.479);
  margin: 0 40px;
  font-size: x-large;
}
